[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = read rss from persian news
[access "refs/*"]
	owner = group user/Seyed Alireza (seyedalireza)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Seyed Alireza (seyedalireza)
	label-Verified = -1..+1 group user/Seyed Alireza (seyedalireza)
	push = group user/Seyed Alireza (seyedalireza)
	read = group user/Seyed Alireza (seyedalireza)
	rebase = group user/Seyed Alireza (seyedalireza)
	removeReviewer = group user/Seyed Alireza (seyedalireza)
	submit = group user/Seyed Alireza (seyedalireza)
[access "refs/heads/*"]
	create = group user/Seyed Alireza (seyedalireza)
	push = +force group user/Seyed Alireza (seyedalireza)
	pushMerge = group user/Seyed Alireza (seyedalireza)
	read = group user/Seyed Alireza (seyedalireza)
[access "refs/tags/*"]
	push = group user/Seyed Alireza (seyedalireza)
	push = +force group user/Seyed Alireza (seyedalireza)
